main{
  width: 600px;
  text-align: center;
  margin: 0 auto;
}

.card{
  border: 1px solid black;
  margin: 50px;
  padding: 50px;
  position: absolute;
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  text-align: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto,
}

h1 {
  text-align: center;
} 

/* .container {
    position: absolute;
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    text-align: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
  
  } */

  /*counter elments*/
  .counter {
    text-align: center;
  }

  .score {

  }
